{%- comment -%}
  Inputs:
    object - section or block object
{%- endcomment -%}

{%- comment -%} Skeleton Structure {%- endcomment -%}
  <div class="splide__main-wrapper relative p-0">
    <div class="skeleton__main-wrapper">
      <div class="skelet-item skeleton-wrapper">

      </div>
      <div class="skeleton-wrapper">
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skelet-item skeleton-text"></div>
        <div class="skeleton-buttons">
          <div class="skelet-item skeleton-button"></div>
          <div class="skelet-item skeleton-button"></div>
        </div>
      </div>
    </div>

    {%- comment -%} Slider Wrapper {%- endcomment -%}
    <div class="splide splide--{{ section.id }}" style="display: none">
      <div class="splide__track">
        <ul class="splide__list">
          {%- style -%}
            .slide--{{ object.id }} {
              background-color: {{ object.settings.bg_color | default: "#FFF" }};
            }
            .slide--{{ object.id }} h1,
            .slide--{{ object.id }} .title-tag,
            .slide--{{ object.id }} .text-body p {
              color: {{ object.settings.text_color | default: '#003A2B' }};
            }
            @media (min-width: 1024px) {
              .hero-content__container--{{ object.id }} {
                padding: 0 {{ object.settings.content_padding }}px;
              }
            }
            {%- unless object.settings.flip_image != true -%}
              .image-container--{{ object.id }} {
                order: 2;
              }
              @media (max-width: 1023px) {
                .image-container--{{ object.id }} {
                  order: 1;
                }
                .hero-content__container--{{ object.id }} {
                  order: 2;
                }
              }
            {%- endunless -%}
          {%- endstyle -%}
          <li class="splide__slide slide--{{ object.id }} flex w-full" {{ object.shopify_attributes }}>
            <div class="li-container w-full flex">
              <div class="hero-image__container image-container--{{ object.id }} relative">
                {%- if article.image -%}
                  {%- render 'image',
                  image: article.image,
                  responsive: true
                  -%}
                {%- endif -%}
              </div>
              <div class="hero-content__container hero-content__container--{{ object.id }} flex w-auto justify-center flex-col">
                {%- unless blog.title == blank -%}
                  <p class="title-tag">{{ blog.title }}</p>
                {%- endunless -%}

                {%- unless article.title == blank -%}
                  <h1 class="mb-0">{{ article.title }}</h1>
                {%- endunless -%}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


<script>
  theme.waitForLoad("Splide").then(() => {
    // Select the Section Wrapper Element
    const $splideWrapper = document.querySelector('.splide__main-wrapper');
    const scrollbar_width = theme.utils.getScrollbarWidth();

    // Add Mount Options for the Slider
    const splideOptions = {
      type       : '',
      perPage    : 1,
      perMove    : 1,
      fixedWidth : `calc(100vw - ${scrollbar_width}px)`,
      width      : '100%',
      arrows     : false,
      pagination : false,
      autoplay   : false,
      isNavigation : false,
      keyboard : false,
      drag: false,
    }

    // Initialize Splider
    const splideInit = new Splide('.splide--{{ section.id }}', splideOptions);

    // Trigger Skeleton Changes After Mounting
    splideInit.on('mounted', function () {
      setTimeout(() => {
        $splideWrapper.querySelector('.skeleton__main-wrapper').remove();
        $splideWrapper.querySelector('.splide--{{ section.id }}').style.display = 'flex';
      }, 500);
    });

    // Mount the Slider
    splideInit.mount();

    // Shopify Customizer Custom Event
    document.addEventListener("shopify:section:load", () => {
      splideInit.destroy();
      new Splide('.splide--{{ section.id }}', splideOptions).mount();
    });
  });

</script>
