{%- comment -%}
  Inputs:
    object - section orblock object
{%- endcomment -%}

<style>
  .background-color--{{ object.id }} {
    background-color: {{ object.settings.background_color }};
  }
  .text-color--{{ object.id }} {
    color: {{ object.settings.text_color }};
  }

  .featured-blogs-section {
    height: 108px;
    min-height: 108px !important;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .featured-blogs-section .featured-blog {
    flex: 1;
    min-width: 330px;
    height: 100%;
  }

  .featured-blogs-section .featured-blog__title {
    font-family: var(--font-text);
    margin: 0;
    margin-left: 18px;
    width: 90%;
  }
  .featured-blogs-section .featured-blog .featured-blog__image-container {
    height: 100%;
    width: 108px;
    min-width: 108px;
  }

  @media (max-width: 1400px) {
    .featured-blogs-section .featured-blog__title {
      width: 55%
    }
  }

</style>

{%- liquid
  assign selected_tag = object.settings.selected_blog_tag | downcase

  if object.settings.selected_blog_category == blank
    assign selected_category = blog
  else
    assign selected_category = object.settings.selected_blog_category
  endif

  assign articles = selected_category.articles
  assign count = 0
-%}

<div class="featured-blogs-section page-width mobile-full flex background-color--{{ object.id }}" aria-label="featured-blogs">
  {%- for article in articles -%}

    {%- if count > 4 -%}
      {%- break -%}
    {%- endif -%}

      {% for tag in article.tags %}

        {% case (tag | downcase) %}
          {% when selected_tag %}
            <a class="featured-blog flex items-center" href="{{ article.url }}">
              {%- if article.image != blank -%}
                <div class="featured-blog__image-container relative">
                  {%- render: 'image', image: article.image, responsive: true -%}
                </div>
              {%- endif -%}
              <p class="featured-blog__title text-small text-color--{{ object.id }}">{{ article.title }}</p>
            </a>
            {% assign count = count | plus: 1 %}
            {%- break -%}
        {% endcase %}

      {% endfor %}

  {%- endfor -%}
</div>

