{%- comment -%}
  Inputs:
    object - section or block object
{%- endcomment -%}
<div class="splide__arrows page-width" style="display: none;">
  <button class="splide__arrow splide__arrow--prev">
    {% render 'icons-factory',
      icon: 'arrow-pagination',
      size: '40x40',
      fill: 'var(--color__light)',
      type: 'svg'
    %}
  </button>
  <button class="splide__arrow splide__arrow--next">
    {% render 'icons-factory',
      icon: 'arrow-pagination',
      size: '40x40',
      fill: 'var(--color__purple)',
      type: 'svg'
    %}
  </button>
</div>
<div class="splide__track">
  <ul class="splide__list">
    {%- for block in object.blocks -%}
      {%- unless block.type != 'slide' -%}
        {%- style -%}
          .slide--{{ block.id }} {
            background-color: {{ block.settings.bg_color | default: "#FFF" }};
          }
          .slide--{{ block.id }} h1,
          .slide--{{ block.id }} .title-tag,
          .slide--{{ block.id }} .text-body p {
            color: {{ block.settings.text_color | default: '#003A2B' }};
          }
          @media (min-width: 1024px) {
            .hero-content__container--{{ block.id }} {
              padding: 0 {{ block.settings.content_padding }}px;
            }
          }
          {%- unless block.settings.flip_image != true -%}
            .image-container--{{ block.id }} {
              order: 2;
            }
            @media (max-width: 1023px) {
              .image-container--{{ block.id }} {
                order: 1;
              }
              .hero-content__container--{{ block.id }} {
                order: 2;
              }
            }
          {%- endunless -%}
        {%- endstyle -%}
        <li class="splide__slide slide--{{ block.id }} flex w-full" {{ block.shopify_attributes }}>
          <div class="li-container w-full flex">
            <div class="hero-image__container image-container--{{ block.id }} relative">
              {%- render 'image',
                image: block.settings.desktop_image,
                tablet_image: block.settings.tablet_image,
                mobile_image: block.settings.mobile_image,
                responsive: true
              -%}
            </div>
            <div class="hero-content__container hero-content__container--{{ block.id }} flex w-auto justify-center flex-col">
              {%- unless block.settings.title_tag == blank -%}
                <p class="title-tag">{{ block.settings.title_tag }}</p>
              {%- endunless -%}

              {%- unless block.settings.title == blank -%}
                <h1 class="mb-0">{{ block.settings.title }}</h1>
              {%- endunless -%}
              {%- unless block.settings.subtitle == blank -%}
                <div class="text-body">{{ block.settings.subtitle }}</div>
              {%- endunless -%}
              {%- unless block.settings.button1_text == blank and block.settings.button2_text == blank -%}
                <div class="buttons">
                  {%- unless block.settings.button1_text == blank -%}
                    <a href="{{ block.settings.button1_url }}" class="button-primary">{{ block.settings.button1_text }}</a>
                  {%- endunless -%}

                  {%- unless block.settings.button2_text == blank -%}
                    <a href="{{ block.settings.button2_url }}" class="button-secondary">{{ block.settings.button2_text }}</a>
                  {%- endunless -%}
                </div>
              {%- endunless -%}
            </div>
          </div>
        </li>
      {%- endunless -%}
    {%- endfor -%}
  </ul>
</div>