{%- comment -%}
  Inputs:
    section - section object with settings
{%- endcomment -%}

{%- style -%}
  #footer {
    background: {{ section.settings.bg_color }};
    padding: 54px 0;
    color: var(--text-color-secondary);
  }

  #footer .footer__site-name {
    font-size: 18px;
  }
  #footer .logo-part2 {
    font-family: var(--font-text);
    margin-left: -4px;
  }

  #footer .menu {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    margin-top: 25px;
  }

  .footer-menu__wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
  }

  .footer-menu__wrapper > div {
    flex: 1 1 calc(33.3% - 10px);
  }

  #footer .menu a {
    font-size: 13px;
    line-height: 22px;
    color: var(--text-color-secondary);
    font-family: var(--font-text);
  }

  #footer .menu a:hover {
    color: var(--text-color-secondary);
  }

  #footer .newsletter-form {
    margin-top: 30px;
  }

  .footer__newsletter .heading {
    text-align: left;
    margin: 0px;
  }

  .footer__newsletter {
    margin-top: 30px;
  }

  .footer__newsletter input {
    width: 100%;
    max-width: 446px;
  }

  .footer__newsletter button {
    margin: 30px 0 0 0;
    display: block;
  }

  #footer .newsletter-text {
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-heading);
  }

  #footer .newsletter-disclaimer {
    font-size: 10px;
    line-height: 22px;
    font-family: var(--font-heading);
    margin-top: 7px;
  }

  .footer__payments img {
    object-fit: contain;
  }
  .footer__payments {
    margin-top: 30px;
  }

  #footer div[style='clear:both'] {
    display: none /* judgeme injection fix */
  }

  @media (min-width: 1024px) { 
    /* lg breakpoint */
    .footer__grid--desktop {
      display: flex;
    }
    .footer__grid--desktop > div {
      flex: 1 1 50%;
    }
    .footer__col1 {
      border-right: 1px solid var(--color__deep-teal);
      padding-right: 30px;
    }
    .footer__col1 + div {
      padding: 0 120px;
    }
  }

  #footer .social-icons {
    gap: 25px;
  }
  #footer .social-icons li {
    border-radius: 100%;
    height: 36px;
    width: 36px;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color__2);
  }

  @media (max-width: 1023px) {
    .footer__col1 + div,
    .footer__payments {
      padding-top: 54px;
    }
  }

  @media (max-width: 639px) {
    /* sm breakpoint */
    .footer-menu__wrapper {
      flex-direction: column;
      gap: 35px;
    }
    #footer .menu {
      margin-top: 20px;
    }
  }
{%- endstyle -%}

<div id="footer">
  <div class="page-width footer__grid--desktop">
    <div class="footer__col1">
      <div class="footer__site-name"> 
        {%- assign parts = shop.name | split: "." -%}
        <span class="logo-part1">{{ parts[0] }}</span>
        {%- if parts.size > 1 -%}
          <span class="logo-dot">.</span>
          <span class="logo-part2">{{ parts[1] }}</span>
        {%- endif -%}
      </div>
      <div class="footer-menu__wrapper">
        {%- if section.settings.menu1 -%}
          <div class="footer__column">
            <div class="title-tag">{{ linklists[section.settings.menu1].title }}</div>
            {%- render 'menu', section: section, menu: section.settings.menu1 -%}
          </div>
        {%- endif -%}
        {%- if section.settings.menu2 -%}
          <div class="footer__column">
            <div class="title-tag">{{ linklists[section.settings.menu2].title }}</div>
            {%- render 'menu', section: section, menu: section.settings.menu2 -%}
          </div>
        {%- endif -%}
        {%- if section.settings.menu3 -%}
          <div class="footer__column">
            <div class="title-tag">{{ linklists[section.settings.menu3].title }}</div>
            {%- render 'menu', section: section, menu: section.settings.menu3 -%}
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.payments -%}
      <div class="footer__payments hidden lg:block">
        <div class="title-tag">{{ section.settings.payments_title }}</div>
        {%- render 'payment-icons' -%}
      </div>
      {%- endif -%}
    </div>
    <div class="footer__column">
      {%- if section.settings.social -%}
        {%- render 'social-icons', fill: '#fff' -%}
      {%- endif -%}
      <div class="footer__newsletter">
        {%- render 'newsletter-block', section: section -%}
      </div>
    </div>
    <div class="footer__payments lg:hidden">
      <div class="title-tag">{{ section.settings.payments_title }}</div>
      {%- render 'payment-icons' -%}
    </div>
  </div>
</div>