{%- style -%}
  .page-hero--{{ block.id }} {
    background-color: {{ block.settings.background_color }};
  }
  .page-hero--{{ block.id }} .heading-h1 {
    color: {{ block.settings.font_color }};
  }
{%- endstyle -%}

<div class="page-hero--{{ block.id }}">
  <div class="page-hero__main-wrapper page-width flex"> 
    <div class="page-hero--text-wrapper">
      {%- unless block.settings.text == true -%}
        <p class="heading-h1 items-center">{{ block.settings.text }}</p>
      {%- endunless -%}
    </div>
    <div class="page-hero--image-wrapper justify-center flex">
      {%- unless block.settings.image == true -%}
        {%- render 'image', image: block.settings.image -%}
      {%- endunless -%}
    </div>
  </div>
</div>
