{%- comment -%}
  Inputs:
    product - product object
{%- endcomment -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="product-form__wrapper">
  {%- form 'product', product, id: 'product-form', class: 'product-details__form' -%}

    <div class="product-details__variant-wrapper">
      <!-- Variant -->
      <div class="product__variant select-wrapper">
        <select name="id">
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              <option
                {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                {% endif %}
                value="{{ variant.id }}"
              >
                {{ variant.title }}
              </option>
            {%- else -%}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'common.sold_out' | t }}
              </option>
            {%- endif -%}
          {%- endfor -%}
        </select>
        <span class="icon arrow down"></span>
      </div>

      <!-- QTY -->
      <div class="product__qty">
        <div class="product-qty__arrow product-qty__minus icon">
          {%- render 'icons-factory', icon: 'minus', size: "18x18", fill: '#003A2B', type: 'svg' -%}
        </div>
        {%- render 'product-qty', qty: 1, min: 1, max: 99 -%}
        <div class="product-qty__arrow product-qty__plus icon">
          {%- render 'icons-factory', icon: 'plus', size: "18x18", fill: '#003A2B', type: 'svg' -%}
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="product__button">
      {%- liquid
        assign button_text = 'action.add_to_cart' | t
        assign isSellable = true

        if current_variant.available == false
          assign button_text = 'common.sold_out' | t
          assign isSellable = false
        endif

        if current_variant.available == true and current_variant.inventory_quantity <= 0 and product.tags contains "NOS"
          assign button_text = 'action.preorder' | t
          assign isSellable = true
        endif
      -%}
      <button
        class="button cta product-details__button-buy"
        name="add"
        {% if isSellable == false %}disabled="disabled"{% endif %}
        data-product-id="{{ current_variant.id }}"
        data-product-price="{{ current_variant.price | money }}"
        type="button"
        onClick="theme.cart.addItem(this);"
      >
        {%- render 'icon-add-bag', size: '45x42', fill: settings.color_body_text -%}
        <span class="button-line"></span>
        <span>{{ button_text }}</span>
      </button>
    </div>
  {%- endform -%}
</div>
