{%- comment -%}
  Inputs:
    @product
{%- endcomment -%}

{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="product-sticky-form">
  <!-- Title -->
  <div class="product-sticky-form__title-wrapper">
    <div class="product-sticky-form__title">
      {{ product.title }}
    </div>
    <div class="product-styky-form__rating">
      <div class="jdgm-widget jdgm-preview-badge">
        {{ product.metafields.judgeme.badge }}
      </div>
    </div>
  </div>

  <!-- Prices -->
  {%- render 'product-price' -%}

  <form>
    <!-- Variants -->
    <div class="product__variant select-wrapper">
      <select name="id">
        {%- for variant in product.variants -%}
          {%- if variant.available -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}
                selected="selected"
              {% endif %}
              value="{{ variant.id }}"
            >
              {{ variant.title }}
            </option>
          {%- else -%}
            <option disabled="disabled">
              {{ variant.title }} - {{ 'common.sold_out' | t }}
            </option>
          {%- endif -%}
        {%- endfor -%}
      </select>
      <span class="icon arrow down"></span>
    </div>

    <!-- Quantity -->
    <div class="product__qty">
      <div class="product-qty__arrow product-qty__minus icon">
        {%- render 'icons-factory', icon: 'minus', size: "18x18", fill: '#003A2B', type: 'svg' -%}
      </div>
      {%- render 'product-qty', qty: 1, min: 1, max: 99 -%}
      <div class="product-qty__arrow product-qty__plus icon">
        {%- render 'icons-factory', icon: 'plus', size: "18x18", fill: '#003A2B', type: 'svg' -%}
      </div>
    </div>

    <!-- Button -->
    {%- liquid
      assign isSellable = true
      if current_variant.available == false
        assign isSellable = false
      endif
      if current_variant.available == true and current_variant.inventory_quantity <= 0 and product.tags contains "NOS"
        assign isSellable = true
      endif
    -%}
    <button
      class="button cta product-details__button-buy"
      name="add"
      {% if isSellable == false %}disabled="disabled"{% endif %}
      data-product-id="{{ current_variant.id }}"
      data-product-price="{{ current_variant.price | money }}"
      type="button"
      onClick="theme.cart.addItem(this);"
    >
      {%- render 'icon-add-bag', size: '45x42', fill: settings.color_body_text -%}
    </button>
</div>
