{%- style -%}
  .section-{{ section.id }}__title {
    font-size: {{ section.settings.text_size_title }}px !important;
  }
  .section-{{ section.id }}__subtitle {
    font-size: {{ section.settings.text_size_subtitle }}px !important;
  }
  @media (max-width: 768px) {
    .section-{{ section.id }}__title {
      font-size: calc({{ section.settings.text_size_title }}px - 20%) !important;
    }
    .section-{{ section.id }}__subtitle {
      font-size: calc({{ section.settings.text_size_subtitle }}px - 20%) !important;
    }
  }
{%- endstyle -%}

<div class="text-and-button flex flex-wrap justify-center items-center text-center">
  <div class="text-and-button__container">
    <h2 class="heading text-and-button__heading section-{{ section.id }}__title">{{ section.settings.section_title }}</h2>
    {%- if section.settings.section_subtitle -%}
      <h3 class="text-and-button__subheading section-{{ section.id }}__subtitle uppercase">{{ section.settings.section_subtitle }}</h3>
    {%- endif -%}
    <p class="text-and-button__description">{{ section.settings.section_content }}</p>
    {%- if section.settings.button_url != blank -%}
      <a class="button cta text-and-button__button mt-1" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
    {%- endif -%}
  </div>
</div>