{% style %}
  .text-with-image__main-wrapper--{{ block.id }} p {
    line-height: 31px !important;
  }
  .section-image-row .title-tag {
    padding-top: 60px;
  }
  .section-image-row .button-primary,
  .section-image-row .button-secondary {
    margin-top: 44px !important;
    margin-bottom: 60px;
  }
  .text-with-image__main-wrapper--{{ block.id }} {
    background-color: {{ block.settings.background_color }};
  }
  .text-with-image__main-wrapper--{{ block.id }} h2 {
    color: {{ block.settings.title_color }} !important;
  }
  .text-with-image__main-wrapper--{{ block.id }} h2 + p {
    margin-top: 6px !important;
  }
  .text-with-image__main-wrapper--{{ block.id }} {
    color: {{ block.settings.text_color }} !important;
  }

  .text-with-image__main-wrapper--{{ block.id }}
  .text-with-image__image-wrapper {
    min-height: 325px;

    {%- if block.settings.image_position == 'center' -%}
      width: 675px;
      max-width: 675px;
    {%- else -%}
      width: 50%;
    {%- endif -%}
  }
  .text-with-image__main-wrapper--{{ block.id }}
  .text-with-image__content-below {
    max-width: 475px;
    width: 90%;
    {%- unless block.settings.negative_margin == true -%}
      padding-top: 1.25rem;
    {%- endunless -%}
  }
  {%- unless block.settings.image_position != 'center' -%}
    .text-with-image__main-wrapper--{{ block.id }}
    .text-with-image__content-below a {
      margin: 0 auto;
    }
  {%- endunless -%}

  @media (min-width: 768px) {
    .text-with-image__main-wrapper--{{ block.id }} .section-image-center {
      padding-bottom: 80px !important;
    }
  }

  {%- if block.settings.image_position == 'right' -%}
    @media (min-width: 768px) {
      .text-with-image__main-wrapper--{{ block.id }}
      .text-with-image__image-wrapper {
        order: 2;
      }
    }
  {%- endif -%}

  @media (max-width: 767px) {
    {%- unless block.settings.image_position == 'center' -%}
      .text-with-image__main-wrapper--{{ block.id }}
      .text-with-image__content-container {
        flex-wrap: wrap;
        gap: 0 !important;
        padding: 2.5rem 0 !important;
      }
    {%- endunless -%}
  }
  @media (max-width: 1023px) {
    .text-with-image__main-wrapper--{{ block.id }}
    .text-with-image__image-wrapper {
      width: 90%;
    }
  }

  {%- if block.settings.negative_margin == true -%}
    .text-with-image__main-wrapper--{{ block.id }}
    .margin__display-block {
      width: 100%;
      height: 80px;
      background-color: {{ block.settings.margin_color }};
    }

    .text-with-image__main-wrapper--{{ block.id }}
    .text-with-image__image-wrapper {
      margin-bottom: -30px !important;
    }
    .text-with-image__main-wrapper--{{ block.id }} img {
      top: -80px !important;
    }
    @media (min-width: 767px) {
      .text-with-image__main-wrapper--{{ block.id }} img {
        height: auto !important;
      }
    }

    .text-with-image__main-wrapper--{{ block.id }}
    .text-with-image__content-container {
      padding: 2.5rem;
      {%- unless block.settings.image_position == 'center' -%}
        gap: 2.5rem;
      {%- endunless -%}
    }
  {% else %}
  .text-with-image__main-wrapper--{{ block.id }}
  .text-with-image__content-container {
      {%- if block.settings.image_position != 'center' -%}
        padding: 2.5rem;
        gap: 2.5rem;
      {%- else -%}
        padding: 2.5rem 0;
      {%- endif -%}
    }
  {%- endif -%}

{% endstyle %}

<div class="text-with-image__main-wrapper--{{ block.id }} w-full">

  {% unless block.settings.negative_margin != true %}
    <div class="margin__display-block"></div>
  {% endunless %}

  <div class="text-with-image__content-container flex justify-center {% unless block.settings.negative_margin == true  and block.settings.image_position != 'center' %}items-center{% endunless %} {% if block.settings.image_position == 'center' %}flex-col section-image-center{% else %}flex-row section-image-row{% endif %}">

    {% unless block.settings.desktop_image == blank %}
      <div class="text-with-image__image-wrapper flex relative">
        {% render 'image',
          image: block.settings.desktop_image,
          tablet_image: block.settings.tablet_image,
          mobile_image: block.settings.mobile_image,
          responsive: true
        %}
      </div>
    {% endunless %}

    <div class="text-with-image__content-below flex justify-center flex-col {% unless block.settings.image_position != 'center' %}text-center{% endunless %}">
      {%- unless block.settings.subtitle == blank -%}
        <div class="title-tag">{{ block.settings.subtitle }}</div>
      {%- endunless -%}

      {%- unless block.settings.title == blank -%}
        <h2>{{ block.settings.title }}</h2>
      {%- endunless -%}

      {%- unless block.settings.description == blank -%}
        {{ block.settings.description }}
      {%- endunless -%}

      {% unless block.settings.button_text == blank %}
        <a
          class="{% if block.settings.button_style == 'primary' %}button-primary{% else %}button-secondary{% endif %}"
          {% unless block.settings.button_link == blank %}href="{{ block.settings.button_link }}"{% endunless %}
        >
          {{ block.settings.button_text }}
        </a>
      {% endunless %}
    </div>
  </div>

</div>