{% layout 'theme' %}

<div class="template page-width pt-10 pb-10">

  {%- style -%}
    {% comment %} Buttons & Form Styling {% endcomment %}
    .main-form__container button a {
      color: var(--button-cta-color)!important;
    }
    .main-form__container button:hover > a {
      color: var(--button-cta-hover-color)!important;
    }
    .main-form__container form input {
      height: 50px;
      width: 459px!important;
      margin-bottom: 25px!important;
      border: 2px solid #7E7E7E!important;
      margin: 0 auto;
    }
    .main-form__container button {
      width: 459px;
      min-height: 50px;
      margin: 0 auto 25px auto;
    }
    .errors li {
      text-align: center;
      padding: 4px;
    }
    {% comment %} Responsive CSS {% endcomment %}
    @media(max-width:768px) {
      .main-form__container form input {
        width: 100%!important;
      }
      .main-form__container button {
        width: 100%!important;
        padding: 0px 25px!important;
      }
    }
  {%- endstyle -%}

    <div class="heading-h3 text-center">{{ 'customer.entry.log_in' | t }}</div>
    
    {% comment %} Customer Account Login {% endcomment %}
    <div id="CustomerLoginForm" class="main-form__container text-center">

          {%- form 'customer_login', class: 'flex justify-center flex-col' -%}
          <div class="p-5">
            {{ form.errors | default_errors }}
          </div>
          
          <input type="email" name="customer[email]" id="CustomerEmail" placeholder="{{ 'form.email' | t }}" class="cursor-text{%- if form.errors contains 'email' -%} error{%- endif -%}" autocorrect="off" autocapitalize="off" autofocus>
    
          {%- if form.password_needed -%}
            <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'form.password' | t }}" class="cursor-text{% if form.errors contains 'password' %} error{% endif %}">
          {%- endif -%}

          <button class="button cta mt-1" type="submit">{{ 'customer.entry.log_in' | t }}</button>
        {%- endform -%}

        <button class="button cta mt-1" onClick="window.location.href='/account/register'">{{ 'customer.entry.create_account' | t | customer_register_link }}</button>
    </div>
    <div id="RecoverPasswordForm" class="main-form__container">
        
        {% comment %} Customer Account Register {% endcomment %}
        <div class="heading-h3 text-center mt-10 mb-5">{{ 'action.reset_password' | t }}</div>

        {%- form 'recover_customer_password', class: 'flex justify-center flex-col' -%}

        {%- if form.posted_successfully? -%}
          <div role="status">
            <p class="text-center">{{ 'customer.entry.reset_password_notice' | t }}</p>
          </div>
        {%- endif -%}

        {{ form.errors | default_errors }}

        <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'form.email' | t }}" class="cursor-text{%- if form.errors contains 'email' -%} error{%- endif -%}" autocorrect="off" autocapitalize="off">

        <button type="submit" class="button cta mt-1">{{ 'action.reset_password' | t }}</button>
      {%- endform -%}
    </div>
</div>